.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    max-width: 3rem;
    max-height: 5rem;
    padding: 1rem;
    overflow: hidden;
}

.card img{
    width: 6rem;
}

.card p{
    margin: 0;
    letter-spacing: .2rem;
}

.front{
    border-radius: .5rem;
}

.back{
    width: 150px;
}

@media (min-width: 480px){
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
        max-width: 10.5rem;
        max-height: 10.5rem;
        padding: 1rem;
        overflow: hidden;
    }

    .card img{
        width: 200px;
    }

}