.card{
    position: relative;
    border-radius: .3rem;
    width: 5rem;
    height: 6.5rem;
    overflow: hidden;
}

.card img{
    width: 5.5rem;
}
.front{
    position: absolute;
    transform: rotateY(90deg);
    transform: matrix();
    transition: all ease 0.2s;
}

.flipped .front{
    transform: rotateY(0deg);
    transition-delay: 0.15s;
}

.back{
    height: 300px;
    transition: all ease 0.2s;
    transition-delay: 0.15s;
}

.flipped .back{
    transform: rotateY(-90deg);
    transition-delay: 0s;
}


@media (min-width: 480px){
    .card{
        border-radius: .5rem;
        width: 12.5rem;
        height: 12.5rem;
    }

    .card img{
        width: 200px;
    }

}