.container{
    max-width: 1200px;
    margin: auto;
}

.home{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    height: 888px;
    font-family: var(--main-font);
    overflow: hidden;
    gap: 1rem;
}

.home_menu{
    color: white;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background-image: url(../../public/topo.webp);
}

.home_header{
    background-color: #1E1E1E;
    border-radius: .5rem;
    background-image: url(../../public/topo.webp);
    background-repeat: no-repeat;
}

.btn{
    color: white;
    font-family: var(--main-font);
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: .3rem;
    padding: .5rem;
    cursor: pointer;
}