.container{
    max-width: 1200px;
    margin: 0 auto;
}
.logo{
    width: 200px;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    overflow: hidden;
    background-color: #1E1E1E;
    background-image: url(/topo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media (min-width: 480px) {
    .home{
        position: relative;
        max-height: 888px;
        border-radius: .5rem;
    
        -webkit-box-shadow: 0px 0px 115px -15px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 115px -15px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 115px -15px rgba(0, 0, 0, 0.75);
    }

    .logo{
        width: 150px;
    }
}

.home_menu{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_menu h2{
    margin-bottom: 0;
    margin-top: 3rem;
}

.socials{
    display: flex;
    position: absolute;
    gap: 1.5rem;
    bottom: 3rem;
}

.socials img{
    cursor: pointer;
    transition: ease .3s;
    
    &:hover{
        transform: scale(1.1);
        transition: ease .2s;
    }
}

.btn{
    color: white;
    font-family: var(--main-font);
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: .3rem;
    padding: .5rem;
    cursor: pointer;
    transition: ease .2s;

    &:hover{
        background-color: rgba(128, 0, 128, 0.3);
        transition: ease .2s;
        transform: scale(1.1);

    }
}